form {
    text-align:center;
    margin-top: 100px; 
}

body {
    background-image:url("../Images/blue_background.jpg");
    background-repeat:no-repeat;
    background-size: 1518px 800px;
}

h1 {
    text-align:center;
    color:#514442;
}

#aviation {
    position:absolute;
    top:200px;
    right:300px;
}

#tech {
    position:absolute;
    top:200px;
    left:300px;
}