a:link
{
    text-decoration:none;
    font-size: 27px;
    border-bottom: double;
    border-bottom-color: #009933;
    border-bottom-width: 4px;
    color:#383838;
    margin-left: 600px;
}

a:hover
{
    color:#006699;
    text-decoration:underline;
}

a:visited
{
    color:#006699;
    text-decoration:none;
}

a:active
{
    color:green;
    text-decoration:underline;
}

form {
    position:absolute;
    top:500px;
    left:685px;
}

 body
    {
       
        background-image:url("../Images/aviation2.jpg");
        background-size: 1518px 800px;
        background-repeat: no-repeat;
    
    }
h1
{
    text-align:center;
    border: hidden;
    width: 500px;
    padding-left: 15px;
    margin-left: 500px;
    background: #0F111D;
    color: #D8D8D8;
    margin-top: 150px; 
    
}